---
---

@import "{{ site.theme }}";
/*Main Header*/
header
{
  background:#4989c8;
}

/*Header Headline*/
header h1
{
  color: #00ffa6;
  text-shadow: 0 0 20px #05e5ff;
}

/*Header Paragraph*/
header p
{
  color:#fff;
  font-size: 14px;
}

/*Header Banner*/
header ul
{
  background: #8BF962CC;
}

/*View on GitHub Button*/
header ul a,header ul a strong
{
  color:white;
  font-size: 15px
}

/*The Body, Derp*/
body 
{
  background-image: url("https://i.imgur.com/NyxykUb.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;  
  background-repeat: no-repeat;
  padding: 486px;  
}

/*Welcome Dialog*/
.wrapper 
{
  width:700px;
  position: relative;
  bottom: 250px;
}

/*Footer Text*/
footer
{
  /*position: relative;
  top:500px;
  right:900px;*/
  display:none;
}

/*-----Mobile Section-----*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  
{ 
  background-image: url("https://i.imgur.com/NyxykUb.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 486px;
  padding-left: 160px;
  padding-top: 300px;
}
